<!-- Mobile Navbar and Sidebar -->
<div class="d-md-none">
    <nav class="navbar">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  
    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileSidebar">
      <div class="offcanvas-header">
     
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <app-sidebar></app-sidebar> <!-- هنا استخدمنا الكمبوننت -->
      </div>
    </div>
  </div>
<!-- Desktop Layout -->
<div class="container-fluid d-none d-md-block">
    <div class="row">
      <!-- Sidebar for md and larger screens -->
      <div class="col-md-2 sidebar">
        <app-sidebar></app-sidebar> <!-- استخدام نفس الكمبوننت -->
      </div>
  
      <!-- Main Content -->
      <div class="col-md-10 bg-black text-white">
        Main Content
      </div>
    </div>
  </div>
    